:host {
  display: block;
  min-height: 100vh;
}

.app-shell {
  min-height: 100vh;

  background-color: #0f1a17;
}

main {
  display: block;
  padding-top: 0;
}

.home-hero-section {
  position: relative;
  width: 100%;
  min-height: 35rem;

  background-image: url('../assets/tww-hero-banner.png');

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  overflow: hidden;
}
