<header class="site-header">
  <div class="header-inner">

    <div class="logo-section"></div>

    <nav class="main-nav">
      <a routerLink="/" >
        Home
        <span class="nav-divider"></span>
      </a>

      <a routerLink="/" fragment="what-we-build-section">
        Prjects
        <span class="nav-divider"></span>
      </a>

      <a routerLink="/" fragment="workshop-section">
        Workshop
        <span class="nav-divider"></span>
      </a>

      <a routerLink="/" fragment="who-we-are-section">
        About
        <span class="nav-divider"></span>
      </a>

      <a routerLink="/" fragment="site-footer">
        Contact
        <span class="nav-divider"></span>
      </a>
    </nav>

  </div>
</header>
